* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
header,
footer,
nav,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   background-color: #EDF2EC;
   font-family: "Inter", sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 1;
    scroll-behavior: smooth;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
   color: inherit;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
}
p {
   width: auto;
   overflow-wrap: break-word;
}
.container {
   max-width: 1220px;
   padding: 10 20px;
   margin: 0 auto;
}

/*--------------------------HEADER--------------------*/

.header {
   width: auto;
}

.header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header_logo {
   font-family: "Inika", sans-serif;
   font-size: 16px;
   line-height: 21px;
   color: #010201;
}

.menu {
   /* !!!!!Установить ширину меню*/
   /*margin-right: 109px;*/
   padding: 21px 0;
}

.menu_list {
   display: flex;

   margin-left: auto;
}

.menu_item {
   padding: 21px 23px;
   font-family: "Inika", sans-serif;
   font-size: 16px;
   line-height: 50px;
   color: #010201;
}

.menu_link:hover {
   color: #E06733;
   font-weight: 700;
}

/*---------------------Первый блок---------------------*/

.welcome {
   border: 0;
   padding: 66px 0;
}

.welcome_inner {
display: flex;
} 

.welcome_left {
   width: 651px;
}

.welcome_right_title {
   width: 549px;
   font-weight: 700;
   font-size: 45px;
   line-height: 50px;
   padding-bottom: 42px;
   color: #717171;
}

.welcome_right_text {
   width: 547px;
   padding-bottom: 48px;
   line-height: 35px;
   color: #636060;
}

.title_plants {
   color: #499A18;
}
.welcome_learn_more {
   padding: 14px 27px;
   border: 2px solid #E06733;
   border-radius: 10px;
   text-transform: uppercase;
}

.welcome_learn_more:hover {
   color: #FFFFFF;
   background: #E06733;
   border: 2px solid #E06733;
   border-radius: 10px;
   transition: all 0.4s;
}

/*----------------ABOUT-----------------*/
.about {
   background: #FFFFFF;
   border: 0;
   padding: 94px 0px;
}

.about_inner {
   display: flex;
   justify-content: space-between;
}

.about_left_title {
   width: 463px;
   margin-top: 61px;
   padding-bottom: 40px;
   color: #499A18;

   font-family: 'Inika';
   font-weight: 400;
   font-size: 40px;
   line-height: 52px;
}

.about_left_title_span {
   color: #E06733;
}
.about_left_text {
   width: 605px;

   line-height: 30px;
   color: #636060;
}
.about_left {
   width: 672px;
}

/*--------------------SERVICE-------------*/
.service_header {
   display: flex;
   justify-content: space-between;
   padding-top: 40px;
}

.service_title {
   width: 306px;
   margin-right: 142px;

   font-family: 'Inika';
   font-weight: 400;
   font-size: 40px;
   line-height: 52px;
   
   color: #499A18;
}

.service_menu {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 559px;
}

.service_menu-item {
   padding: 12px 27px;
   font-family: 'Inika';
   line-height: 26px;
   color: #E06733;

   border: 1px solid #E06733;
   border-radius: 5px;
}

.service_menu-item:hover {
   color: #FFFFFF;
   background: #E06733;
border: 1px solid #E06733;
border-radius: 5px;
}


.service_main {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   margin-top: 90px;
}

.product_card {
   margin-bottom: 48px;
   filter: blur(2px);
}

.product_card {
   margin-bottom: 48px;
   filter: blur(2px);
}

.product_image {
   border-radius: 20px 20px 0px 0px;
}

.product_description {
   display: flex;
   flex-direction: column;
   align-items: center;

   width: 329px;
   border: 1px solid #E3E1D5;
   border-radius: 0px 0px 20px 20px;
}

.product_title {
   padding-top: 10px;
   font-weight: 700;
   
   color: #E06733;
}

.product_text {
   padding-top: 10px;
   padding-bottom: 36px;
   font-size: 16px;
   line-height: 20px;
   
   color: #717171;
}

.rectangle {
   margin: 0 auto 34px auto;
   width: 1221px;
   height: 37px;
   border: 1px solid #D9D9D9;
   background: #D9D9D9;
}

/*---------PRICES-------------*/

.prices {
   background: #FFFFFF;
}

.prices_inner {
   display: flex;
   justify-content: space-between;

   padding-top: 40px;
}

.prices_left_title {
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
}

.prices__accordion {
   width: 332px;
   padding: 34px 41px;
   margin-top: 60px;
   margin-bottom: 129px;
   border: 1px solid #E3E1D5;
   border-radius: 20px;
}

.accordion__header {
   font-weight: 700;

   background: #EDF2EC;
   border-radius: 20px;
   padding: 16px 110px 16px 40px;
}

.accordion__item:not(:last-child){
   margin-bottom: 32px;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
   display: none;
}

.prices_right {
display: flex;
flex-direction: column;
align-items: flex-end;
}

.prices_right_title {
   width: 452px;
font-weight: 700;
font-size: 40px;
line-height: 50px;

text-align: right;
}

.span_gardeners {
   color: #499A18;
}

a.contact_us {
   margin-top: 38px;
   margin-bottom: 39px;
   padding: 12px 34px 12px 30px;

   font-family: 'Inika';
   font-weight: 700;
   line-height: 26px;
   color: #E06733;

   border: 1px solid #E06733;
   border-radius: 5px;
}

a.contact_us:hover {
   color: #FFFFFF;
   background: #E06733;
   border: 1px solid #E06733;
   border-radius: 5px;
}

/*-------------CONTACTS--------------*/
.contacts__inner {
   display: flex;
   justify-content: space-between;
}
.contacts__title {
   padding-top: 60px;
   font-family: 'Inika';
   font-weight: 700;
   font-size: 40px;
   line-height: 52px;
   
   color: #499A18;
   text-align: center;
}

.contacts__accordion__header{
   font-weight: 400;
   line-height: 40px;
   letter-spacing: 0.05em;

   color: #717171;

   background: #D6E7D2;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 0px;

   margin-top: 37px;
   padding: 5px 389px 5px 20px;
}

/*--------------FOOTER---------------*/
.footer {
   background-color: #FFFFFF;
}

.footer__inner {
   display: flex;
   justify-content: space-between;

   padding: 40px 0;

   line-height: 50px;
}

.copyright {
   display: flex;
   justify-content: space-between;

   width: 169px;
}

.social {
   display: flex;
   justify-content: space-between;
   
   width: 188px;
}
